$white: #fff
$black: #111
$dark-grey: #39424E
$main-background: #fff
$header-font: 'IM FELL English PRO', sans-serif
$font: 'CMU Serif', sans-serif
$body-size: 22px
$body-text: #383b3e

$links: #16264c
$links-hover: #1046c7

$code-block: #272822
