<section class="gallery" id="work">
  <div class="row center-xs">
    <div class="col-xs-12"><h1>{{ i18n "work" }}</h1></div>
  </div>
  <div class="scrolling-wrapper-flexbox">

    <!-- First 4 characters of each gallery page's unique ID -->
    {{ range where .Site.RegularPages "Section" "gallery" }}
      <!-- Scratch is used to set page-scoped variable outside of this loop-->
      {{ .Scratch.Set "$modalID" (slicestr .File.UniqueID 0 4) }}
    {{ end }}

    {{ $galleryReverse := (where .Site.RegularPages.Reverse "Section" "gallery") }}

    <!-- If gallery is an even total, all items display evenly in grid columns and rows -->
    {{ range $galleryReverse }}
      <div class="card gallery-item" onclick {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
        <div class= "gallery-img-container">
          <img {{ if .Site.Params.lazyLoading }}data-src="{{ "images/" | relURL }}{{ .Params.image}}" class="lazyload" lazyload="on"{{ else }}src="{{ "images/" | relURL }}{{ .Params.image}}"{{ end }} {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
        </div>
        <div class="row middle-xs center-xs overlay">
          <a href="#modal-{{ .Scratch.Get "$modalID" }}" class="gallery-modal-link"></a>
          <h2>{{ .Params.alt }}</h2>
        </div>
      </div>
    {{ end }}
  </div>
</section>
